<li class="message appeared <%= message.position(current_user) %>">
  <div class="avatar <%= message.user.dialect %>"></div>
  <div class="text_wrapper">
    <div class="text">
      <%= message.user.login %> said <%= time_ago_in_words(message.created_at) %>:
      <br />
      <%= message.translated_text || message.body %>
    </div>
  </div>
</li>
