<div class="chat_window">
  <div class="top_menu">
    <div class="buttons">
      <div class="button close"></div>
      <div class="button minimize"></div>
      <div class="button maximize"></div>
    </div>
    <div class="title">Chat</div>

  </div>
  <ul class="messages">
    <%= render @messages %>
  </ul>
  <div class="bottom_wrapper clearfix">
  <% if current_user %>
    <div class="message_input_wrapper">
      <input id="body" class="message_input" placeholder="Type your message here..." />
    </div>
    <div class="send_message">
      <div class="icon"></div>
      <div class="text" id="send-message">Send</div>
    </div>
  <% else %>
    <div class="message_input_wrapper_small">
      <input class="message_input" id="login" name='login' placeholder="Username" />
    </div>
    <div class="message_input_wrapper_small">
      <%= select_tag 'dialect', options_for_select(User.dialects.keys), class: "message_input", include_blank: 'Select a dialect' %>
    </div>
    <div class="send_message">
      <div class="icon"></div>
      <div class="text" id="loginButton">Login</div>
    </div>
  <% end %>
  </div>
</div>
<div class="message_template">
  <li class="message">
    <div class="avatar"></div>
    <div class="text_wrapper">
      <div class="text"></div>
    </div>
  </li>
</div>
